beadando_5.pdf
OEP_nagybeadando_tervezes_Katona_Fanni_XFC6HX.pdf
XFC6HX.zip
/Plan/OEP_nagybeadando_tervezes_Katona_Fanni_XFC6HX.docx
/Plan/OEP_nagybeadando_tervezes_Katona_Fanni_XFC6HX.pdf
/*/bin/*
/*/obj/*
/Nagybeadando/.vs/*
/Nagybeadando/TestResults/*